@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

@import './variables.scss';
@import '~bulma/bulma.sass';

body {
  font-size: 1.2em;
}

a {
  color: #363636;
  font-weight: bold;
  //border-bottom: solid 2px #363636;
  background: linear-gradient(to top, #cbf3f9 50%, transparent 50%);
  display: inline-block;
  padding: 0 4px;
}

a:hover {
  background: transparent;
}

a.button {
  background: transparent;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  margin-bottom: 48px;
}

h2 {
  border-left: solid 4px #4a4a4a;
  margin-bottom: 0.2em;
  margin-left: -0.6em;
  padding-left: 0.45em;
}

h3 {
  margin-bottom: 0.2em;
}

time {
  display: inline-block;
  font-family: monospace;
  font-size: 0.8em;
  font-weight: normal;
  width: 7em;
}

.navbar-brand {
  display: block;
  text-align: center;
  width: 100%;

  a {
    background: transparent;
    font-family: 'Major Mono Display', monospace;
    padding: 12px;
  }
}

.activity {
  li {
    white-space: nowrap;
  }
}

.main-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 328px;

  footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    a {
      background: none;
    }
  }
}

.is-strikethrough {
  text-decoration: line-through;
}

.is-centered {
  display: block;
  margin: auto;
}

.blog-content blockquote {
  border-left: solid 6px hsl(0, 0%, 86%);
  padding-left: 16px;
  margin-bottom: 24px;
}

.blog-footer {
  background: whitesmoke;
  margin-top: 96px;
  min-height: 128px;
  padding: 16px;

  figure {
    overflow: hidden;
    margin-right: 16px;
    padding: 6px;
    z-index: 2;
    background-color: hsl(0, 0%, 96%);
    box-shadow: hsl(0, 0%, 86%) 0 0 0 1px;
    float: left;
  }

  p {
    font-size: 80%;
    margin-top: 12px;
  }
}
