@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

@import './variables.scss';
@import '~bulma/bulma.sass';

.main-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 280px;

  footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.highlights .column:not(:first-child) {
  border-left: solid 1px #efefef;
}

.navbar-brand,
.has-text-emphasis {
  font-family: $font-mono;
}

.is-strikethrough {
  text-decoration: line-through;
}

.hero {
  .dud {
    color: #757575;
  }

  .subtitle {
    font-family: $font-mono;
  }
}

.section {
  .title:not(.article-title) {
    font-family: $font-mono;
  }
}

.subtitle {
  font-weight: bold;
}

h3.blog-date {
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-content h2 {
  font-weight: bold;
  font-size: 120%;
}

.blog-content blockquote {
  border-left: solid 6px hsl(0, 0%, 86%);
  padding-left: 16px;
  margin-bottom: 24px;
}

.blog-footer {
  border-top: solid 1px hsl(0, 0%, 86%);
  margin-top: 80px;
  position: relative;

  figure {
    margin-top: -64px;
    overflow: hidden;
    padding: 6px;
    z-index: 2;
    background-color: hsl(0, 0%, 96%);
    box-shadow: hsl(0, 0%, 86%) 0 0 0 1px;
  }

  .blog-author,
  .blog-date {
    position: absolute;
    top: -24px;
  }

  .blog-author {
    left: 0;
  }

  .blog-date {
    right: 0;
  }
}
